ExpMap {
    "minecraft:coal_ore"=50
    "minecraft:diamond_ore"=600
    "minecraft:emerald_ore"=850
    "minecraft:ender_stone"=50
    "minecraft:glowstone"=30
    "minecraft:gold_ore"=275
    "minecraft:hard_clay"=10
    "minecraft:iron_ore"=150
    "minecraft:lapis_ore"=250
    "minecraft:mossy_cobblestone"=30
    "minecraft:netherrack"=1
    "minecraft:obsidian"=300
    "minecraft:packed_ice"=20
    "minecraft:quartz_ore"=175
    "minecraft:redstone_ore"=150
    "minecraft:sandstone"=0
    "minecraft:stained_clay"=10
    "minecraft:stone[variant=stone]"=10
}
Name="Mining"
Description="Mine ore to gain experience"